<% include header %>
<link rel="stylesheet" href="css/wangEditor.css">
<style>
  .w-e-text {
  padding: 0 10px;
  box-sizing: border-box;
}
.w-e-text p,
.w-e-text h1,
.w-e-text h2,
.w-e-text h3,
.w-e-text h4,
.w-e-text h5,
.w-e-text table,
.w-e-text pre {
  margin: 10px 0;
  line-height: 1.5;
}
.w-e-text ul,
.w-e-text ol {
  margin: 10px 0 10px 0px;
}
.w-e-text blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}
.w-e-text code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
.w-e-text pre code {
  display: block;
}
.w-e-text table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.w-e-text table td,
.w-e-text table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.w-e-text table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.w-e-text:focus {
  outline: none;
}
.w-e-text img {
  cursor: pointer;
  border-radius: 8px;
  margin:4px;
  max-width:100%;
}
.w-e-text img:hover {
  box-shadow: 0 0 5px #333;
}
.w-e-text img.w-e-selected {
  border: 2px solid #1e88e5;
}
.w-e-text img.w-e-selected:hover {
  box-shadow: none;
}


</style>
<!--content start-->
    <div id="content">
          <div class="left" id="about_me">
           <div class="weizi">
            <div class="wz_text">当前位置：<a href="index.html">首页</a>><h1>添加文章</h1></div>
           </div>
           <% if(type=='index'){%>
           <style>
            .w-e-text th img{
                display: inline-block;
                max-width:45%;
              }
              @media only screen and (max-width:760px){
                .w-e-text th img{
                  display: block;
                  max-width: 100%;
                }
              }
           </style>
           <div class='title'>
            <textarea placeholder="文章的标题" id='titleC' ><%-arts.title%></textarea>
           </div>
           <div class='title'>
            <textarea placeholder="输入文章主题" id='titleT'><%-arts.topic%></textarea>
           </div>
           <div class='title'>
            <select name="" id="cate">
              <option value="1">口袋记</option>
              <option value="2">日常记</option>
            </select>
           </div>
           <div class="about_content">
             <div id='div3'><%-arts.text%></div>
           </div>
           <div style='text-align:center;padding-top:20px;'><button id='onAdd' style='outline:none;border:1px solid #eee;padding:6px 12px;'>添加文章</button></div>
            <%}%>
            <% if(type=='shuo'){%>
              <style>
                .w-e-text img {
                  cursor: pointer;
                  border-radius: 8px;
                  max-width:400px;
                  display:inline-block;
                }
                @media only screen and (max-width:750px){
                  .w-e-text img{
                    max-width: 100%;
                  }
                }
              </style>
              <div style='background:#fff' class='id'>
                <div class='title'>
                  <textarea placeholder="文章的标题" id='titleS'><%-arts.title%></textarea>
                </div>
                <div class="about_content">
                  <div id='div1'><%-arts.text%></div>
                </div>
                <div style='text-align:center;padding:20px 0;'><button id='onAdd1' style='outline:none;border:1px solid #eee;padding:6px 12px;'>水一水</button></div>
              </div>
            <%}%>
           
         </div>
         <% include right %>
         <div class="clear"></div>
         
    </div>
    <!--content end-->
<% include footer %>
<script type="text/javascript" src="js/wangEditor.min.js"></script>
<% if(type=='index'){%>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#div3');
    editor.customConfig.uploadImgShowBase64 = true;
    editor.create();
    $('#onAdd').click(function(){
    	var title = $('#titleC').val();
    	var info = editor.txt.html();
      console.log(info);
    	var cate = $('#cate').val();
    	var topic = $('#titleT').val();
    	if(title===''||info===''){
    		alert('请输入内容')
    	}else{
    		$.ajax({
    			type:'post',
    			url:'add.html',
    			data:{title:title,info:info,cate:cate,topic:topic,id:'<%=arts._id%>'},
    			success:function(date){
    				if(date.code===0){
    					$('#titleC').val('');
    					$('#cate').val('');
    					$('#titleT').val('');
    					editor.txt.html('');
    					alert('文章发表成功！');
    				}
    			}
    		})
    	}
    })
</script>
<%}%>
<% if(type=='shuo'){%>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor1 = new E('#div1');
    editor1.customConfig.menus = [
        'bold',  // 粗体
        'foreColor',  // 文字颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'image',  // 插入图片
        'undo',  // 撤销
        'redo'  // 重复
    ];
    editor1.customConfig.uploadImgShowBase64 = true;
    editor1.create();
     $('#onAdd1').click(function(){
      var title = $('#titleS').val();
      var info = editor1.txt.html();
      if(title===''||info===''){
        alert('请输入内容')
      }else{
        $.ajax({
          type:'post',
          url:'shuo.html?',
          data:{title:title,info:info,id:'<%=arts._id%>',date:'<%=arts.date%>'},
          success:function(date){
            if(date.code===0){
              $('#titleS').val('');
              editor1.txt.html('');
              alert('说说发表成功！');
              window.location.reload();
            }
          }
        })
      }
    })
</script>
<%}%>