<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>迪拜捡垃圾</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/custom-themes.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <% include nav %>
        <style>
            .text-box{
                width:1170px;
                margin:0 auto;
            }
            .caption a{
                color:#444;
            }
            .caption span{
                color:#1b809e;
                vertical-align: middle;
            }
            @media screen and (max-width: 1100px){
                .text-box{
                    width:100%;
                }
            }
        </style>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div id="toolbar" style='margin-bottom:30px;display:block'>文章列表</div>
            <div class="container-fluid">
                <div class="row text-box" >
                    <%if(cate.length!=0){%>
                    <style>
                        .imglistbox{
                            width:100%;padding-top:50%;overflow:hidden;box-sizing:border-box;
                            position: relative;
                        }
                        .text{
                            overflow : hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                        .btn-time{
                            position:absolute;
                            right:0px;
                            top:0px;
                        }
                        .editorbox{
                            display: none;
                            color:#efefef;
                            background: rgba(0,0,0,.5);
                            font-size:30px;
                            position: absolute;
                            top:5px;
                            left:5px;
                            width:40px;
                            height:40px;
                            text-align: center;
                            border-radius:4px;
                            line-height:45px;
                        }
                        .editorbox:hover{
                            background:rgba(244,244,244,.5);
                            color:#222;
                        }
                    </style>
                    <% for(var i=0; i<cate.length; i++) {%>                      
                    <div class="col-sm-6 col-md-4 col-lg-3 ">
                        <div class="thumbnail">
                            <style>
                                
                            </style>
                            <div  class='imglistbox' style="background:rgba(6,6,6,.6) url('<%=cate[i].logo%>') no-repeat center;background-size:cover">
                                <button type="button" class="btn btn-info btn-time btn-xs" style='background:#444;border:none;'></button>
                                <a href="/editor?id=<%=cate[i]._id%>&backid=<%=id%>" class='editorbox'><span class="glyphicon glyphicon-edit" id='edit'></span></a>
                                <!-- <img src="" alt="..."> -->
                            </div>
                        <div class="caption">
                            <a href="/doc/record?id=<%=cate[i]._id%>">
                                <h4><%=cate[i].title%></h4>
                                <p>
                                    <button type="button" class="btn btn-default btn-xs"><%=cate[i].keyword%></button>
                                    
                                </p>
                            </a>
                            <p class='text'><%=cate[i].topic%></p>
                        </div>
                        </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js//jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        <%if(cate.length!=0){%>
        var time = '<%=cate[0].date%>';
        var date = new Date(time);
        function getyyyyMMdd(d,str){
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1; 
            var curr_year = d.getFullYear();
            String(curr_month).length < 2 ? (curr_month = "0" + curr_month): curr_month;
            String(curr_date).length < 2 ? (curr_date = "0" + curr_date): curr_date;
            var yyyyMMdd = curr_year + str + curr_month +str+ curr_date;
            return yyyyMMdd;
        } 
        $('.btn-time').text(getyyyyMMdd(date,'-'));
        <%}%>
        // 获取路径参数
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        }
        $('.user-pic').on('click',function(){
            $('.editorbox').show();
        })
        
    </script>
</body>

</html>