<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="markdown在线编辑器;markdown--我自己的编辑器">
    <title>迪拜捡垃圾</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/custom-themes.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
</head>
<style>
    @media screen and (min-width: 768px){
        .page-wrapper.toggled .page-content {
            padding-left: 0px;
        }
    }
</style>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <style>
                        #editTip i,#editTip span{
                            font-size: 18px;
                        }
                        #toolbar i{
                            margin:0 10px;
                            line-height: 50px;
                        }
                    </style>
                    <div id="toolbar">
                        <p id='editTip' style='font-size:12px;'><i>SB</i><span>编辑器</span></p>
                        <p style='font-size:18px;display:flex;justify-content :center;'>
                            <i class="glyphicon glyphicon-question-sign question"></i>
                            <i class="glyphicon glyphicon-picture picture"></i>
                        </p> 
                        <p id='send'>发表</p>
                    </div>
                    <div id="container" class='edit-contain'>
                        
                        <div id="editor-column" class="pull-left">
                            <div id="panel-editor">
                                
                                <div class="editor-content" id="mdeditor" ></div>
                            </div>
                        </div>
                        <div id="preview-column" class="pull-right">
                            <div id="panel-preview">
                                
                                <div id="preview" class="markdown-body"></div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </main>
        <!-- page-content" -->
        <!-- see start  -->
        <button type="button" class="btn btn-default phoneTip phoneshow" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            预览
        </button>
        <button type="button" class="btn btn-default phoneTip phonehide" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            编辑
        </button>
        <!-- see end -->
        <!-- modal start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">发表文章</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">title:</label>
                        <input type="text" class="form-control" id="title" value='<%=data.title%>'>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label" >keyword:</label>
                        <input type="text" class="form-control" id="keyword" placeholder="关键词可以多个用逗号隔开" value='<%=data.keyword%>'>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">topic:</label>
                        <textarea class="form-control" id="topic" ><%=data.topic%></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">category:</label>
                        <div class="checkbox">
                            <label class='radio-inline'>
                                <input type="radio" name="optionsRadiosinline" value="1" <%=data.cate==1?'checked':''%>>技术文章
                            </label>
                            <label class='radio-inline'>
                                <input type="radio" name="optionsRadiosinline" value="2" <%=data.cate==2?'checked':''%>>记录
                            </label>
                            <label class='radio-inline'>
                                <input type="radio" name="optionsRadiosinline" value="3" <%=data.cate==3?'checked':''%>>新尝试
                            </label>
                        </div>
                    </div>
                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-inverse sendbtn">确认发表</button>
                </div>
              </div>
            </div>
          </div>
          <!-- modal end -->
          <div id='markBox' style='display:none'><%-data.text%></div>
          <!-- uplaod  -->
          <style>
                #imgUpload{
                    position: fixed;
                    top:50px;
                    left:50px;
                    background:#1D1D1D;
                    width:260px;
                    z-index: 10000;
                    border-radius:5px;
                    display:none;
                }
                #upload .p1{
                    padding:20px;
                    font-size: 50px;
                    text-align:center;
                }
                #upload .p2{
                    height:4px;
                    border-radius:2px;
                    overflow: hidden;
                    background:#333;
                }
                #upload .p2 span{
                    display:block;
                    height:100%;
                    width:0%;
                    background:#1D1D1D;
                }
                #upload .t{
                    color:#444;
                    text-align: center;
                    font-size:12px;
                    display: none;
                }
                #imgUrl{
                    text-align: center;
                    color:bisque;
                    word-break:break-all;
                }
            </style>
            <div id='imgUpload'>
                <div id='upload'>
                    <p class='p1'><i class="fa fa-cloud-upload"></i></p>
                    <p style='text-align:center'>点击、拖拽上传图片</p>
                    <p class='t'>图片上传成功</p>
                    <p class='p2'><span></span></p>
                </div>
                <div id='imgUrl'></div>
            </div>
    </div>
    <!-- page-wrapper -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js//jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.3.3/ace.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src='js/upload.js'></script>
    <script>
        // 编辑器 
        var acen_edit = ace.edit('mdeditor'); 
        acen_edit.setTheme('ace/theme/chrome');
        acen_edit.getSession().setMode('ace/mode/markdown');
        acen_edit.setFontSize('14px');
        acen_edit.renderer.setShowPrintMargin(false);
        acen_edit.setOption("wrap", "free");

        var oldInfo = localStorage.getItem('ACE_TEXT_UPDATE');
        var isSave = false;
        var text = $('#markBox').html();
        if(text){
            acen_edit.setValue(text);
            $("#preview").html(marked(text)); 
        }
        acen_edit.on('focus',function(){
            $('#editTip').html('文档编辑中.....<i class="glyphicon glyphicon-pencil"></i>');
            console.log(acen_edit.getValue())
        })

        acen_edit.on('blur',function(){
            
            if(!isSave){
                $('#editTip').html('请 Ctrl+S 保存文档<i class="glyphicon glyphicon-duplicate"></i>')
            }
            
        })
        acen_edit.on('change',function(){
            
            isSave = false;
        })
        acen_edit.commands.addCommand({
            name: 'myCommand',
            bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
            exec: function(editor) {
                isSave = true;
                localStorage.setItem('ACE_TEXT_UPDATE',editor.getValue());
                $('#editTip').text('文档已经保存')
            },
            readOnly: true // 如果不需要使用只读模式，这里设置false
        });
        $("#mdeditor").keyup(function() {
            $("#preview").html(marked(acen_edit.getValue()));
        });
        $('#send').on('click',function(){

            $('#myModal').modal('show');
        });
        $('.sendbtn').on('click',function(){
            var title = $('#title').val();
            var topic = $('#topic').val();
            var keyword = $('#keyword').val();
            var cate = $('.checkbox').find('input:checked').val();
            var auth = localStorage.getItem('DOC_AUTH');
            if(!title||!topic||!keyword){
                return;
            }
            $.ajax({
                url:'/update/doc',
                type:'POST',
                data:JSON.stringify({
                    text:acen_edit.getValue(),
                    title:title,
                    topic:topic,
                    keyword:keyword,
                    cate:cate,
                    auth:auth,
                    id:'<%=data._id%>'
                }),
                contentType:'application/json;charset=utf-8',
                success:function(data){
                    if(data.code == 200){
                        $('#myModal').modal('hide');
                        localStorage.setItem('ACE_TEXT_UPDATE','');
                        window.location = '/doc/record?id='+data.id;
                    }
                }
            })
            
        })
        upload('#upload',function(data){
            $('#upload .p2 span').css({width:data})
        },function(data){
            $('#upload .t').show();
            setTimeout(function(){
                $('#upload .t').hide();
                $('#upload .p2 span').css({width:0})
            },1000)
            console.log(data);
        })

        // 手机端点击预览
        $('.phoneshow').on('click',function(){
            $('#editor-column').addClass('rightMove');
            setTimeout(function(){
                $('#editor-column').hide().removeClass('rightMove');
                $('#preview-column').fadeIn(500);
                $('.phoneshow').hide();
                $('.phonehide').fadeIn(500);
            },1000)
        })
        
        // 手机端点击编辑
        $('.phonehide').on('click',function(){
            $('#preview-column').addClass('leftMove');
            setTimeout(function(){
                $('#preview-column').hide().removeClass('leftMove');
                $('#editor-column').fadeIn(500);
                $('.phonehide').hide();
                $('.phoneshow').fadeIn(500);
            },1000)
        })
        //
        $('.glyphicon').on('click',function(e){
            if($(e.target).hasClass('question')){
                window.open('http://scopeman.cn/doc/record?id=5b06631c7ee2720b70aaa700','markdown入门手册', 'top=50,right=0,height=400,width=400');
            }
            if($(e.target).hasClass('picture')){
                $('#imgUpload').slideToggle();
            }
        })
        
    </script>
</body>

</html>