<% include header %>
    <!--content start-->
    <div id="content">
         <!--left-->
         <div class="left" id="c_left">
         <%if(show){%><a href='add.html?type=index' class='plus'><img src='images/plus.png'></a><%}%>
           <div class="s_tuijian">
           <h2>文章<span>推荐</span></h2>
           </div>
          <div class="content_text">
            
           <% art.forEach(function(item){%>
           		<div class="wz">
	            <h3><a href="#" title="<%=item.title%>">##<%=item.title%></a></h3>
	             <dl>
	               <dt><img src="images/s3.jpg" width="100%" alt=""></dt>
	               <dd>
	                 <p class="dd_text_1"><%=item.topic%></p>
	               <p class="dd_text_2">
	               <span class="left author"><%=item.author%></span><span class="left sj">时间:<%=item.date%></span>
	               <span class="left fl">分类:<a href="javascript:;" title="学无止境">口袋记</a></span><span class="left yd"><a href="/page.html?id=<%=item._id%>" title="阅读全文">阅读全文</a>
	               </span>
                 <%if(show){%>
                 <span class='left yd'>
                 <a href="/add.html?type=index&id=<%=item._id%>" >编辑</a>
                 </span>
                 <span class='left yd'>
                  <a class='del' onclick="del('<%=item._id%>')">删除</a>
                 </span>
                 <%}%>
	                <div class="clear"></div>
	               </p>
	               </dd>
	               <div class="clear"></div>
	             </dl>
	            </div>
           	<%})%>
            <!--分页
           <div class='page'><a >上一页</a><a >2</a><a >下一页</a><span>一共3页</span></div>-->
           <div id='pageBox'></div>
           <!--分页 end-->
              
                             
           </div>
         </div>
         <!--left end-->
		<% include right %>
         <!--right end-->
         <div class="clear"></div>
    </div>
    <!--content end-->

<% include footer %>
<script>
  (function(){
    var Page = function(configDate){
      this.count=configDate.count;
      this.id=$(configDate.id);
      this.index=configDate.index;
      this.create();
    }
    Page.prototype.create=function(){
      var dom = "<div class='page-show'><a href='/index.html?page="+(this.index-1==0?this.count:this.index-1)+" ' class='pre'>上一页</a><a class='index'>"+this.index+"</a><a href='/index.html?page="+(this.index==this.count?1:this.index+1)+" ' class='next'>下一页</a><span>一共"+this.count+"页</span></div>";
      this.id.append(dom);
    }
    window.Page = Page;
  })();
new Page({count:<%-count%>,id:'#pageBox',index:<%-page%>});
function del(id){
  if(confirm('你是否确定删除？')){
    $.ajax({
      url:'/del.html',
      type:'post',
      data:{id:id},
      success:function(data){
        if(data.code==0){
          alert('您成功删除');
        }
        else if(data.code==1){
          alert(data.message);
        }
      }
    })
  }
  
}
  
</script>