<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title><%=art.title%></title>
<meta name="keywords" content="<%=art.title%>" />
<meta name="description" content="主要记录和总结前端工作中常用的知识及口袋理财团队的日常生活。" />
<meta name="description" content="<%=art.topic%>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="css/index.css"/>
<link rel="stylesheet" href="css/style.css"/>
<style>
  .w-e-text1 {
  padding: 0 10px;
}
.w-e-text1 p,
.w-e-text1 h1,
.w-e-text1 h2,
.w-e-text1 h3,
.w-e-text1 h4,
.w-e-text1 h5,
.w-e-text1 table,
.w-e-text1 pre {
  margin: 10px 0;
  line-height: 1.5;
}
.w-e-text1 ul,
.w-e-text1 ol {
  margin: 10px 0 10px 20px;
}
.w-e-text1 blockquote {
  display: block;
  border-left: 8px solid #66D9EF;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  color:#A6E22E;
  background-color: #000;
}
.w-e-text1 blockquote i{
  color:#eee;
}
.w-e-text1 code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
.w-e-text1 pre code {
  display: block;
}
.w-e-text1 table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.w-e-text1 table td,
.w-e-text1 table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.w-e-text1 table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.w-e-text1:focus {
  outline: none;
}
.w-e-text1 img {
  cursor: pointer;
}
.w-e-text1 img:hover {
  box-shadow: 0 0 5px #333;
}
.w-e-text1 img.w-e-selected {
  border: 2px solid #1e88e5;
}
.w-e-text1 img.w-e-selected:hover {
  box-shadow: none;
}

</style>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<!--header start-->
    <div id="header">
      <h1>口袋理财前端技术团队</h1>
      <p>古今之成大事业、大学问者，必经过三种之境界："昨夜西风凋碧树。独上高楼，望尽天涯路。"此第一境也。"衣带渐宽终不悔，为伊消得人憔悴。"此第二境也。"众里寻他千百度，蓦然回首，那人却在灯火阑珊处。"此第三境也。</p>    
    </div>
<!--header end-->
<!--mobile -->
<div class='mobile'>
  <ul>
     <li class='m1'><img src='images/m1.png'/></li>
     <li class='m2'><img src='images/m2.png'/></li>
     <li class='m3'><img src='images/m3.png'/></li>
     <div class="clear"></div>
    </ul>
    <ul class='mobile-nav'>
   <li><a href="index">口袋记</a></li>
     <li><a href="about">我们团队</a></li>
     <li><a href="shuo">口袋每日</a></li>
     <li><a href="xc">口袋活动</a></li>
     <li><a href="add">添加文章</a></li>
    </ul>
</div>
<div class='teamInfo'>
<div  class='qq'><img src="images/qq.jpg" alt="前端技术交流群" style='width:100%;'/></div>
<h3>口袋人的特征:</h3>
<ul>
    <li>1.工作上：认真踏实；生活上：小逗比</li>
    <li>2.感情细腻的马大哈</li>
    <li>3.爱好广泛</li>
    <li>4.对前端技术感兴趣</li>
</ul>
<p>如果以上的几点，那么就符合口袋前端的一员。我们一直秉承着“相互信赖；相互帮助；共同进步；一起成长”的原则；生活不止眼前的苟且还有口袋和我！</p>
<h2 style='color:#E8332A;text-align:center;' class='go'>---->>Go</h2>
</div>
<!--mobile end -->
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="left page" id="about_me" >
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="/index">首页</a>><h1><%=art.title%></h1></div>
           </div>
           <div class="about_content w-e-text1">
             <%-art.text%>
           </div>
         </div>
         <!--end left -->
         <% include right %>
         <div class="clear"></div>
         
    </div>
    <!--content end-->
<div id="footer">
     <p>Design by:<a href="http://www.koudailc.com" target="_blank">口袋理财</a> 2017-7-27</p>
    </div>
    <!--footer end-->
</body>
</html>
<script>

  // nav 
$('.m1').click(function(){
  $('.mobile-nav').slideToggle();
})
$('.m2').click(function(){
  alert('口袋H5项目活动即将上线！');
})
$('.m3').click(function(){
  $('.teamInfo').slideDown();
})
$('.go').click(function(){
  $('.teamInfo').fadeOut();
})
</script>