<% include header %>
<!--content start-->
<style>
  .w-e-text1 {
  padding: 0 10px;
  box-sizing: border-box;
}
.w-e-text1 p,
.w-e-text1 h1,
.w-e-text1 h2,
.w-e-text1 h3,
.w-e-text1 h4,
.w-e-text1 h5,
.w-e-text1 table,
.w-e-text1 pre {
  margin: 10px 0;
  line-height: 1.5;
}
.w-e-text1 ul,
.w-e-text1 ol {
  margin: 10px 0 10px 0px;
}
.w-e-text1 blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}
.w-e-text1 code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
.w-e-text1 pre code {
  display: block;
}
.w-e-text1 table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.w-e-text1 table td,
.w-e-text1 table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.w-e-text1 table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.w-e-text1:focus {
  outline: none;
}
.w-e-text1 img {
  cursor: pointer;
  border-radius: 8px;
  margin-left:4px;
  max-width:400px;
  display:inline-block;
}
.w-e-text1 img:hover {
  box-shadow: 0 0 5px #333;
}
.w-e-text1 img.w-e-selected {
  border: 2px solid #1e88e5;
}
.w-e-text1 img.w-e-selected:hover {
  box-shadow: none;
}
/*@media only screen (max-width:760px){
  .w-e-text1 img{
    max-width: 500px;
  }
}*/
@media only screen and (max-width:750px){
  .w-e-text1 img{
    max-width: 100%;
  }
}

</style>

<% if(show){%><a href='add.html?type=shuo' class='plus' style='top:120px'><img src='images/plus.png'></a><%}%>
    <div id="say" class='w-e-text1'>
     <div class="weizi" >
           <div class="wz_text">当前位置：<a href="index.html">首页</a>><h1>口袋小记</h1></div></div>
           <% art.forEach(function(item){%>
           <span class="dateview"><%-item.date%></span>----<span><%-item.title%></span>
             <ul class="say_box">
               <div class="sy">
                   <%-item.text%>
               </div> 
            </ul>
            <a href='add.html?type=shuo&id=<%-item._id%>'>编辑</a>
          <%})%>
          <div id='pageBox'></div>
     </div>
    <!--content end-->
<% include footer %>
<script>
  (function(){
    var Page = function(configDate){
      this.count=configDate.count;
      this.id=$(configDate.id);
      this.index=configDate.index;
      this.create();
    }
    Page.prototype.create=function(){
      var dom = "<div class='page-show'><a href='/shuo.html?page="+(this.index-1==0?this.count:this.index-1)+" ' class='pre'>上一页</a><a class='index'>"+this.index+"</a><a href='/shuo.html?page="+(this.index==this.count?1:this.index+1)+" ' class='next'>下一页</a><span>一共"+this.count+"页</span></div>";
      this.id.append(dom);
    }
    window.Page = Page;
  })();
new Page({count:<%-count%>,id:'#pageBox',index:<%-page%>});
</script>